<!DOCTYPE html>
<html>
  <head>
    <title>ChildHelp</title>
    <%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext', media: 'all', 'data-turbolinks-track' => true %>
      
<%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700', media: 'all', 'data-turbolinks-track' => true %>

<%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,900&amp;subset=cyrillic,cyrillic-ext', media: 'all', 'data-turbolinks-track' => true %>
      
<%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,900&amp;subset=cyrillic,cyrillic-ext', media: 'all', 'data-turbolinks-track' => true %>
      
<%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext', media: 'all', 'data-turbolinks-track' => true %>
      
<%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Marck+Script&amp;subset=cyrillic', media: 'all', 'data-turbolinks-track' => true %>
      
<%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Pacifico&amp;subset=latin-ext', media: 'all', 'data-turbolinks-track' => true %>
      
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
          <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1" >
      <meta charset="utf-8">
  </head>

  <body>

      
      
              <!--Меню-->
       <div class = "menuS">
            <div class = "menu_btn"></div>
            <div class = "podl"></div>
            <div class = "container">
                <div class = "menu_btn"></div>
                <div class = "option">
                    <div class="text">Благотворительный фонд <br> &laquo;Поможем вместе&raquo;</div>
                    <ul>
                        <li><%= link_to 'Главная', root_path %></li>
                        <li><a href = "#">О фонде</a></li>
                        <li><%= link_to 'Программы', static_programms_path %></li>
                        <li><%= link_to 'Им нужна помощь', posts_path %></li>
                        <li><%= link_to 'Помогли вместе', posths_path %></li>
                        <li><%= link_to 'Новости', posthhs_path %></li>
                        <li><a href = "#">Хочу помочь</a></li>
                        <li><a href = "#">Контакты</a></li>
                    </ul>
                </div>

            </div>
        </div>
              <header>
            <div class="wrapper">
                <div class="container">
                    <div class="logo">
                         <%= link_to image_tag("logo.JPG"), root_path %>
                    </div>
                    <div class="btn">
                        Стать волонтером
                    </div>
                </div> 
            </div>
        </header>
              <nav>
            <div class="wrapper">
                <ul>
                    <li><%= link_to 'Главная', root_path %></li>
                    <li><a href="">О фонде</a></li>
                    <li><%= link_to 'Программы', static_programms_path %></li>
                    <li><%= link_to 'Им нужна помощь', posts_path %></li>
                    <li><%= link_to 'Помогли вместе', posths_path %></li>
                    <li><%= link_to 'Новости', posthhs_path %></li>
                    <li><a href="">Хочу помочь</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
        </nav>
      
            
<!--       Сообщения об ошибках-->
      <% if user_signed_in? %>
      <div class = "container">
      <%= link_to 'Новый ребенок', new_post_path, class: 'btn btn-outline-primary pull-xs-right'  %><br>
      <%= link_to 'Все дети', posts_path, class: 'btn btn-outline-primary pull-xs-right' %><br>
      <%= link_to 'Новый ребенок (помогли)', new_posth_path, class: 'btn btn-outline-primary pull-xs-right'  %><br>
      <%= link_to 'Все дети (помогли)', posths_path, class: 'btn btn-outline-primary pull-xs-right' %><br>
      <%= link_to 'Новая новость', new_posthh_path, class: 'btn btn-outline-primary pull-xs-right'  %><br>
      <%= link_to 'Все новости', posthhs_path, class: 'btn btn-outline-primary pull-xs-right' %>
      <%= link_to 'Выход', destroy_user_session_path, method: :delete, class: "" %>
    <% end %>
      
          
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <% flash.each do |name, message| %>
                      <div class="alert alert-<%= name %>">
                          <%= message %>
                      </div>
                      <% end %>
                  </div>
              </div>
          </div>
        </div>
      
    <%= yield %>
      
      
              <footer>  
            <div class="wrapper">
                <div class="menu">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li><a href="">О фонде</a></li>
                        <li><a href="">Программы</a></li>
                        <li><a href="">Им нужна помощь</a></li>
                        <li><a href="">Помогли вместе</a></li>
                        <li><a href="">Новости</a></li>
                        <li><a href="">Хочу помочь</a></li>
                        <li><a href="">Контакты</a></li>
                    </ul>

                </div>
                <div class="contacts">
                    <div class="container">
                        <div class="info">
                            <ul>
                                <li>Email: <a href = "mailto:1@mail.ru">fond-blag@fond.ru</a></li>
                                <li>Адрес: 450000 Г.Уфа ул.Кольцевая 156-6</li>
                                <li>Телефон: 8(987)-355-35-35</li>
                            </ul>
                        </div>
                        <div class="social"></div>
                    </div>
                </div>
                <div class="copyright">Благотворительный фонд &laquo;Вместе поможем&raquo; 2017</div>
            </div>
        </footer>
           <%= image_tag('yakor.png', :alt => "logo", :class => 'button_up') %>
      <script type="text/javascript">
          

$(function () {
    var button_up = $('.button_up');
	button_up.on('click', function(){
		$('html, body').animate({
            scrollTop: 0
        }, 700);
	});
	var h = 250;
	var open = false;
	
	$(document).on('scroll', function(){
		var st = $(this).scrollTop();
		if(!open && st > h) {
			open = true;
			button_up.stop(true).fadeIn(350);
		} else if(open && st <= h){
			open = false;
			button_up.stop(true).fadeOut(350);
		}
		
	});
});
          
          (function ($) {
    $.fn.fnMenu = function (options) {
        var defaults = {
           container: '.container',
		   btn_menu: '.menu_btn',
		   podl: '.podl', 
		   width: '60%'
        };
        var settings = $.extend(defaults, options);
		
		
		this.each(function() {
			var elem = $(this);
			new nikitaMenu(elem, settings)
			
		});
		
        return this;
    }
	
	
	function nikitaMenu(elem, settings) {
		this.open = false;
		var self = this;
		$container = elem.find(settings.container);
		$btn_menu = elem.find(settings.btn_menu);
		$podl = elem.find(settings.podl);
		/*что скажете на счет этого, строка 29 и 30? По другому я не придумал как сделать более гибко */
		this.left = '-' + settings.width;
		$container.css('left', this.left).css('top', '0').css('width', settings.width);
		/*что скажете на счет этого ? По другому я не придумал как сделать более гибко */
		elem.on('click', '.menu_btn, .podl', function() {
			
			if(!self.open) {
				$container.css('display', 'block');
				$container.animate({
					left:0
				},200, function() {
					self.open = true;
				});
				$podl.css('display', 'block').animate({
					opacity:0.3
				}, 150);
			} else {
				$container.animate({
					left: self.left
				},200, function() {$container.css('display', 'block'); self.open = false;});
				$podl.animate({
					opacity:0
				}, 150, function() {
					$podl.css('display', 'none');
				});
			}

		});
		
	}
	
	
})(jQuery);




$(function () {
    $('.menuS').fnMenu();
});
      </script>
  </body>
</html>
